.github
dist
node_modules
prisma/migrations
scripts
src/singleton.ts
.dockerignore
.envrc
.envrc.example
.git
.gitignore
.nvmrc
docker-compose-prod.yaml
docker-compose.yaml
Dockerfile
fly.toml
jest.config.ts
*.md
*.env
*.log
*.bak
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
