.github
dist
node_modules
prisma/migrations
src/**/*.test.ts
src/singleton.ts
.dockerignore
.envrc
.envrc.example
.git
.gitignore
.nvmrc
docker-compose*
Dockerfile*
fly.toml
jest.config.ts
README.md
LICENSE
.vscode
Makefile
helm-charts
.env
.editorconfig
.idea
coverage*
*.md
*.env
*.log
*.bak