.github
dist
node_modules
scripts
src/**/*.test.ts
src/singleton.ts
.dockerignore
.env
.env.base
.git
.gitignore
docker-compose-prod.yaml
docker-compose.yaml
Dockerfile
jest.config.ts
*.md
*.env
*.log
*.bak
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
