# Database Envs
# Set this to whatever you set the same env to when starting postgres in Docker
POSTGRES_PASSWORD=

# Runtime Envs
CLIENT_TOKEN=
CLIENT_OWNER=
CLIENT_ID=
GUILD_ID=

# A string for the local db you get by running docker-compose up
# Override this as needed if you do not use defaults
DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD}@localhost:5432/postgres?schema=public

SENTRY_DSN=