# Database Envs
# Set this to whatever you set the same env to when starting postgres in Docker
export POSTGRES_PASSWORD=

# Runtime Envs
export CLIENT_TOKEN=
export CLIENT_OWNER=
export CLIENT_ID=
export GUILD_ID=

# A string for the local db you get by running docker-compose up
# Override this as needed if you do not use defaults
export DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD}@localhost:5432/postgres?schema=public

export SENTRY_DSN=